.elementor-59 .elementor-element.elementor-element-3f4f029 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-59
  .elementor-element.elementor-element-3f4f029:not(.elementor-motion-effects-element-type-background),
.elementor-59
  .elementor-element.elementor-element-3f4f029
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-4d23303);
}
.elementor-59 .elementor-element.elementor-element-3f4f029,
.elementor-59 .elementor-element.elementor-element-3f4f029::before {
  --border-transition: 0.3s;
}
.elementor-59 .elementor-element.elementor-element-2d471c1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
}
.elementor-59 .elementor-element.elementor-element-ce22c07 {
  width: var(--container-widget-width, 94.074%);
  max-width: 94.074%;
  --container-widget-width: 94.074%;
  --container-widget-flex-grow: 0;
}
.elementor-59 .elementor-element.elementor-element-ce22c07.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-59 .elementor-element.elementor-element-9e78611 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-59 .elementor-element.elementor-element-f9d0609 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --background-transition: 0.3s;
}
.elementor-59 .elementor-element.elementor-element-223d654 .elementor-button {
  fill: var(--e-global-color-db76366);
  color: var(--e-global-color-db76366);
  background-color: var(--e-global-color-secondary);
  border-radius: 15px 15px 15px 15px;
}
.elementor-59 .elementor-element.elementor-element-dfee198 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
  border-style: none;
  --border-style: none;
}
.elementor-59 .elementor-element.elementor-element-dfee198,
.elementor-59 .elementor-element.elementor-element-dfee198::before {
  --border-transition: 0.3s;
}
.elementor-59 .elementor-element.elementor-element-1c85e75 .elementor-button {
  fill: var(--e-global-color-4d23303);
  color: var(--e-global-color-4d23303);
  background-color: var(--e-global-color-db76366);
  border-radius: 15px 15px 15px 15px;
}
.elementor-59 .elementor-element.elementor-element-451ffae {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-59
  .elementor-element.elementor-element-451ffae:not(.elementor-motion-effects-element-type-background),
.elementor-59
  .elementor-element.elementor-element-451ffae
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-4d23303);
}
.elementor-59 .elementor-element.elementor-element-451ffae,
.elementor-59 .elementor-element.elementor-element-451ffae::before {
  --border-transition: 0.3s;
}
.elementor-59 .elementor-element.elementor-element-74d4558 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-59 .elementor-element.elementor-element-74d4558.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-59 .elementor-element.elementor-element-7a0e428 {
  width: var(--container-widget-width, 83.607%);
  max-width: 83.607%;
  --container-widget-width: 83.607%;
  --container-widget-flex-grow: 0;
}
.elementor-59 .elementor-element.elementor-element-7a0e428.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
@media (max-width: 767px) {
  .elementor-59 .elementor-element.elementor-element-451ffae {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-59 .elementor-element.elementor-element-74d4558 {
    --width: 95.692%;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-59 .elementor-element.elementor-element-7a0e428 {
    width: var(--container-widget-width, 268.984px);
    max-width: 268.984px;
    --container-widget-width: 268.984px;
    --container-widget-flex-grow: 0;
  }
}
@media (min-width: 768px) {
  .elementor-59 .elementor-element.elementor-element-2d471c1 {
    --width: 30%;
  }
  .elementor-59 .elementor-element.elementor-element-9e78611 {
    --width: 35%;
  }
  .elementor-59 .elementor-element.elementor-element-f9d0609 {
    --width: 17.5%;
  }
  .elementor-59 .elementor-element.elementor-element-dfee198 {
    --width: 17.5%;
  }
  .elementor-59 .elementor-element.elementor-element-74d4558 {
    --width: 50%;
  }
}
